[user]
	name = Evan Shaw
	email = edsrzf@gmail.com
[color]
	ui = true
[github]
        user = edsrzf
[advice]
	statusHints = false
[alias]
	unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
[credential]
	helper = cache
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
