[user]
	name = Evan Shaw
[color]
	ui = true
[github]
	user = edsrzf
[advice]
	statusHints = false
[alias]
	unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
[credential]
	helper = cache
[push]
	default = current
[url "git@github.com:vend"]
	insteadOf = https://github.com/vend
[include]
	path = .gitlocal
[merge]
	tool = gvimdiff
